
body, ul {
  margin: 0;
  padding: 0;
  background-color: rgb(250, 235, 204);
}

.todo-app {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #cbfbfc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-app h1 {
  text-align: center;
  color: #0e55da;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todo-input input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #850101;
  border-radius: 5px;
  border-color: #dc3545;
}

.todo-input button {
  background-color: #f48439;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.todo-input button:hover {
  background-color: #218838;
}

.todo-list {
  list-style-type: none;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: #888;
}

.todo-list input[type="checkbox"] {
  margin-right: 10px;
}

.todo-list button {
  background: none;
  border: none;
  color: #dc3545;
  cursor: pointer;
}

.todo-list button:hover {
  color: #bd2130;
}
